//- Calendar head template
//- This is pretty spaghetti, please submit a pull request
	if you are a Pug wizard and can make this more elegant
mixin section(month, year, rows, hideYear)
	- let shorten = function(month) {
	- 	return month.toLowerCase().slice(0, 3)
	- }

	- let shortMonth = shorten(month)

	//- if hideYear
	//- 	h1= month
	//- else
	//- 	h1= month + " " + "20" + year

	h1= `${month}${hideYear ? "" : " " + "20" + year}`
	div(class=`${shortMonth}-${year} row-${rows}`)
		+table(rows)
		.events
			block

//- Creates table for dates
mixin table(rows)
	table
		tbody
			- let i = 0
			while i < rows
				- ++i
				tr
					td
					td
					td
					td
					td
					td
					td